<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Order method - Charts</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body class="container container-fluid pt-3 pb-3">
	<h2 class="text-primary">Order method Charts</h2>
	<hr>
	<img th:src="@{/pie.jpeg}">
	<img th:src="@{/bar.jpeg}">
</body>
</html>